div
  .mb-4(plug="widget")
    div(ld="display", data-display="block"): label.d-flex.align-items-end.flex-wrap
      div
        span(ld="label")
        span.text-danger.ml-2(ld="is-required") *
      .flex-grow-1
      .m-edit: .text-danger.text-sm(ld="limitation")
    table.table.mb-0
      tr
        th(ld-each="head")
        th.m-edit &nbsp;
      tr(ld="no-data")
        td.text-muted(colspan="99",t) 無資料
      tr(ld-each="row")
        td(ld-each="editor-field")
        td.m-edit
          //- `t` in ld-each won't be transform by block,
          //- since the dom is detached and cloned
          //- so we have to do it ourselves.
          .btn.btn-block.btn-outline-secondary.text-nowrap(ld="t delete") 刪除
      tr.m-edit
        td(ld-each="adder-field")
        td: .btn.btn-block.btn-outline-secondary.text-nowrap(t,ld="add") 加入
    div: .text-danger(ld-each="error")
  script(type="@plotdb/block"): include:lsc index.ls
