:scope.has-error table
  outline: 1px solid var(--danger)
table
  table-layout: fixed
  .adder-hidden
    visibility: hidden
    pointer-events: none
    position: relative
    overflow: hidden
    & > div
      position: absolute
