div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="body")
    table.table.mb-0
      tr(ld="headers")
        th(ld-each="head")
        th.m-edit(style="width:6em") &nbsp;
      tr(ld="no-data")
        td.text-muted(t,ld="span-cell") 無資料
      tr(ld-each="row")
        td(ld-each="editor-field")
        td.m-edit(style="width:6em")
          //- `t` in ld-each won't be transform by block,
          //- since the dom is detached and cloned
          //- so we have to do it ourselves.
          .btn.btn-block.btn-outline-secondary.text-nowrap(ld="t delete") 刪除
      tr.m-edit
        //- if we want users to fill fields before add, unhide this
        //- ( we hide this because some users are confused and not sure if they added or not )
        td.adder-hidden.border-0.p-0(ld-each="adder-field")
        //- add button used to be here, yet we moved below since we hide adder-field.
        //- a placeholder is left here for align with delete button.
        td.adder-hidden.border-0.p-0(style="width:6em")
      tr.m-edit.border-0
        td.text-right(ld="span-cell")
          .btn.btn-outline-secondary.text-nowrap(ld="add") #[span(t="新增")]#[span(ld="entry-name")]
    .m-edit: .text-danger.mt-2(ld-each="error")
